# Ignore all files apart from sub directories
*
!*/

# This file
!.gitignore

# Language files
!inc/languages/english/sceditor.lang.php
!inc/languages/english/admin/config_sceditor.lang.php

# Plugin files
!inc/plugins/sceditor.php

# JavaScript
!jscripts/sceditor/*
!jscripts/sceditor/*/*

# Build and sublime text files
!build.sh
!README.md
!mybb-plugin.sublime-project